<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bienvenue dans PREVU SUITE, <%= @recipient %></h1>
<p>
  Votre enregistrement a reussi avec succés,
  Votre nom d'utilisateur est : <%= @recipient %>.<br>
  Votre mot de passe temporaire est <%= @password %> veuillez vous connecter pour le changer.
</p>
<p>
  Pour vous connecter, suivez le lien qui suit: <%= @url %>.
</p>
<p>Merci d'avoir fait confiance à la plateforme PREVU</p>
</body>
</html>
