
<body class="gray-bg">

<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">PR+</h1>

    </div>
    <h3>Bienvenue dans PREVU SUITE</h3>
    <p>Veuillez-vous connecter par ici.</p>
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <div class="form-group">
            <input autofocus="autofocus" class="form-control" type="email" value="" name="user[email]" placeholder="Email" id="user_email"/>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" name="user[password]" id="user_password" placeholder="Mot de passe"/>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary block full-width m-b">Connexion</button>
          <label> <input type="checkbox" class="i-checks"> Se souvenir de moi </label>
        </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>

<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
