<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4">
        <%= render 'type_acte_medicals' %>
      </div>
      <div class="col-lg-4">
        <%= render 'categorie_acte_medicals' %>
      </div>
      <div class="col-lg-4">
        <%= render 'tags' %>
      </div>
    </div>
  </div>
</div>

<%= render 'modal' %>