<%= bootstrap_form_for(@mutuelle, layout: :horizontal) do |f| %>
    <%= render 'structure_assurances/form', f: f %>

    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-2">
        <%= link_to 'Annuler', mutuelles_path, class: 'btn btn-white' %>
        <%= f.button 'Ajouter', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>
