<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Contacts</h5>
  </div>

  <div class="ibox-content">
    <div class="row">
      <% for contact in @adherent.contacts %>
          <%= render 'contacts/show_bloc', contact: contact %>
      <% end %>
    </div>

    <% if current_user.user_structure_assurance? %>
        <div class="text-right">
          <%= link_to '<strong>Ajouter un contact</strong>'.html_safe, new_contact_path(@adherent.class, @adherent.id, url_back: adherent_path(@adherent)), class: 'btn btn-sm btn-primary m-t-n-xs' %>
        </div>
    <% end %>
  </div>
</div>