<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">PRE</h1>

    </div>
    <h3>Pré-inscription</h3>
    <p>Pré-enregistrez vous puis allez au niveau d'une agence pour activer votre compte.</p>

    <%= render 'form' %>

    <p class="m-t"> <small>PREVU &copy; 2015</small> </p>
  </div>
</div>
