<%= titre_page "Formule : #{@formule.nom} / #{@formule.structure_assurance.nom}" %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-4">
      <%= render 'formules/details' %>
    </div>
    <div class="col-md-8">
      <%= render 'formules/liste_pharmacies' %>
      <%= render 'formules/liste_formation_sanitaires' %>
    </div>
  </div>
</div>
