<div class="col-lg-6">
  <div class="contact-box">
    <div class="col-sm-12">
      <p>
        <strong><%= ordonnance.pharmacy.title %></strong>
        <strong><%= ordonnance.prix_total %></strong>
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>