
<%= titre_page "Ajout d'une ordonnance pour #{@adherent.full_name}" %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="col-lg-12">
        </div>
        <div class="ibox-content col-lg-12">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $('select[class="form-control"]').addClass("chosen-select");
</script>