<%= titre_page 'Reporting' %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <% for element in ['Coût moyen prestation', 'Coût moyen ordonnance', 'Coût moyen Fiche prise en charge', 'Coût moyen Famille', 'Moyenne prestation famille', 'Moyenne prestation adhérent', 'Moyenne prestation prestataire', 'Moyenne prestation famille', 'Nombre accident de travail', 'Coût moyen AT', 'Durée moyenne AT hospitalisation', 'Moyenne arrêt de travail', 'Fréquence AT', 'Fréquence / Mode paiement', 'Fréquence / Mode Co-paiement', 'Nombre cas supérieures au seuil de réassurance', 'Montant total indemnités réassurance'] %>
          <div class="col-lg-4">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5><%= element %></h5>
                <div class="ibox-tools">
                  <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                  <a class="close-link">
                    <i class="fa fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="ibox-content">
                0
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
