<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bienvenue dans PREVU SUITE, <%= @recipient %></h1>
<p>
  Votre enregistrement a été correctement faite,
  votre nom d'utilisateur est: <%= @recipient %>.<br>
  votre mot de passe temporaire est <%= @password %>, veuillez vous connecter pour le changer.
</p>
<p>
  Pour vous connecter suivez le lien suivant: <%= @url %>.
</p>
<p>Merci d'avoir fait confiance à PREVU SUITE</p>
</body>
</html>
