<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to prevu.com, <%= @recipient %></h1>
<p>
  You have successfully signed up to pevu.com,
  your username is: <%= @recipient %>.<br>
  your password is <%= @password %> login in your account to change it.
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>