<%= titre_page 'Liste des groupements' %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12">
              <div class="actions_bouton">
                <%= link_to '<i class="fa fa-plus"></i> Ajouter'.html_safe, new_groupe_path, class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Nom</th>
              </tr>
              </thead>

              <tbody>
              <% @groupes.each do |groupe| %>
                  <tr>
                    <td><%= link_to groupe.nom, groupe %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>