<li>
  <%= link_to formules_path do %>
      <i class="fa fa-building-o"></i> <span class="nav-label">Formules</span>
  <% end %>
</li>

<li>
  <%= link_to adherents_path do %>
      <i class="fa fa-user"></i> <span class="nav-label">Adherents</span>
  <% end %>
</li>

<li>
  <%= link_to versements_path do %>
      <i class="fa fa-bank"></i> <span class="nav-label">Prevu Pay</span>
  <% end %>
</li>

<li>
  <%= link_to users_path do %>
      <i class="fa fa-user"></i> <span class="nav-label">Pharmacies</span>
  <% end %>
</li>